[*.{vb}]
file_header_template = ------------------------------------------------------------\n\n	Copyright © 2024 WOODCOAL.\n	FreeRedis.TimeSeries Is licensed under Mulan PSL v2.\n\n	  author:	木炭(WOODCOAL)\n	   email:	i@woodcoal.cn\n	homepage:	http://www.woodcoal.cn/\n\n	请依据 Mulan PSL v2 的条款使用本项目。获取 Mulan PSL v2 请浏览 http://license.coscl.org.cn/MulanPSL2\n\n------------------------------------------------------------\n\n	title\n\n	name: {fileName}\n	create: 2024\n	memo: introduce\n\n------------------------------------------------------------